body{
    text-align:center;
    margin:0;
}
button{
    border:none;
    background-color:rgb(5, 116, 116);
    color:white;
}
#title{
    border:5px solid grey;
    background:blue;
    color:white;
}
#p1Display{
    border:5px solid grey;
    background:blue;
    color:white;
}
#p2Display{
    border:5px solid grey;
    background:blue;
    color:white;
}
#end{
    border:5px solid grey;
    background:blue;
    color:white;
}
#action{
    border:5px solid grey;
    background:blue;
    color:white;
}
.winner{
    border:5px solid grey;
    background:green;
    color:white;
}
.looser{
    border:5px solid gray;
    backgorund:red;
    color:white;
}